AI RAG Chatbot Integration With CRM.json
{
  "name": "Good Good With Gemini",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "52e68fff-7513-442e-b9d6-c2b7d9d94f46",
              "leftValue": "={{ $json.match }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        640
      ],
      "id": "b8c12866-f4da-4f34-856e-82ab281ea86b",
      "name": "Is in first Stage1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook Different GPT Approach').item.json.body['message[add][0][text]'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a Customer Support agent named Kristy.\nYou must answer questions strictly based on the provided context (Vector Store result).\nYou have NO prior knowledge beyond what is retrieved from the Vector Store.\nAnswer questions strictly from the Vector Store. Keep replies short. Mirror the structure and tone of the retrieved result.\nTools:\n- Vector Store tool. You must query it before any response. Treat the top match as the only source unless instructed to combine results.\n\nResponse Style:\n- Keep all answers short and concise — no more than 2–3 sentences unless detailed information is specifically requested or a matching template from the vector database should be used.\n- Use the same headers, steps, or bullets as the Vector Store result when possible.\n- Do not add commentary or opinions.\n- When appropriate, ask the customer for their phone number so we can contact them. Prefer collecting their contact information rather than giving our own number. Do this naturally and only when it makes sense in the conversation.\n- For GENERAL questions (without specific project mentioned), provide a brief overview and ask which project interests them\n- For SPECIFIC questions (with project name), provide only the requested information for that project\n- Do not dump all available information at once\n\nMemory Policy:\n- Do not use \"Simple Memory\" or conversation memory for facts.\n- Memory is only for tracking conversation flow, preferences, and unresolved follow-ups.\n- Avoid asking for the same information twice if it was already provided\n- Use memory to maintain context about the customer's needs throughout the conversation\n```\nAVOID REPETITION:\n- Before asking for a phone number, check if one was already provided in this conversation\n- Before asking which project they're interested in, check if they've already expressed interest\n- If the customer has already answered a question, acknowledge it and move forward\n- Reference previous answers naturally -DO NOT REPET YOURSELF (e.g., \"როგორც უკვე მოგახსენეთ, ...\")\n\nConflict and Gaps:\n- If results conflict, choose the highest-ranked one and note that others differ. Ask which to prioritize.\n- If a result is incomplete, state that you do not know and can not answer the question\nGuardrails:\n- Never answer from prior knowledge.\n- Never answer without querying the Vector Store first.\n- Never expand beyond what the Vector Store states.\n\n\nIf the answer is not found in the Vector Store:\n\"ასეთ დეტალურ ინფორმაციას მე არ ვფლობ. მომწერეთ თქვენი საკონტაქტო ნომერი და პერსონალური მენეჯერი გაგესაუბრებათ. ან თავად დაგვიკავშირდით სამუშაო საათებში 032 2 111 099, 596 500 500📲 ☎\n\" - You MUST respond with the following exact message.\n\nIf the user only asks a general question about prices or buying apartment without specifying details  (e.g., about buying an apartment,  “How much is an apartment?”, “What are the prices?”, etc.),  reply with the following exact text (But only once in conversation):\n\"ამ ეტაპზე შეთავაზებაში გვაქვს ერთი დასრულებული პროექტი მცირე არჩევანით და ორი მიმდინარე პროექტი Crystal Park Hotel A block და Crystal Park Hotel B block, რომლებიც 2026 წლის ზაფხულში ბარდება.\nრომელი პროექტია თქვენთვის უფრო საინტერესო?\"\n\nIf the user asks for a callback but hasn’t provided a number(e.x \"damireket\"):\n\"კეთილი, გთხოვთ მოგვაწოდოთ თქვენი ტელეფონის ნომერი.\"\nIf the user asks about renting an apartment (wanting to rent our apartments): \n‘სასტუმროს დაჯავშნასთან დაკავშირებით გთხოვთ, დარეკოთ ნომერზე 032 2 111 088, 595 461 📲 ☎’.\nRules:\nAlways use the database before sending any answers forward\nNEVER answer without checking the database\nGoal:\nCollect the customer’s phone number naturally, not in every message.\nAsk for it wisely and contextually, only when the user requests detailed info, a callback, or personalized help.\nThe Vector Store result serves as both your context and template.\nIf the user’s question exactly matches an entry in the document, return the answer exactly as written — do not change grammar, words, or punctuation.\n\n\nTasks:\n1. Answer the user question using ONLY the documents.\n2. Set \"exactMatch\" to true if the answer is fully contained in the documents, else false.\n3. Detect if the user provided a phone number. Set \"hasPhone\" true/false.\n4. CallRequested (true/false)\n   - Set TRUE if: Customer asks to be called by phone (keywords: \"damireket\", etc...)\n   - Set FALSE if: No phone call requested\n5. humanChatRequested (true/false)\n   - Set TRUE if: Customer wants to chat via messages with a human agent (not phone call)\n   - Set FALSE if: No human chat requested OR customer prefers phone call(keywords: \"Adamianma momweros\", \"adamians damakavshire\" etc...)\n\n“CallRequested” and “humanChatRequested” can never both be true.\n\nReturn a JSON like this:\n{\n  \"answer\": \"...\",\n  \"exactMatch\": true/false,\n  \"hasPhone\": true/false,\n  \"CallRequested\": true/false,\n  \"humanChatRequested\" : true/false\n}",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        944,
        640
      ],
      "id": "53d99560-0a59-464d-bc80-616af50524c7",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "pineconeNamespace": "n8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1040,
        1072
      ],
      "id": "368156bc-ff58-4870-b31b-58698204144d",
      "name": "Pinecone Vector Store2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook Different GPT Approach').item.json.body['message[add][0][talk_id]'] }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1024,
        864
      ],
      "id": "9bffee6f-77f7-486e-acd3-946d92998a26",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Return documents related to apartment prices, locations, contact info, renting. If General questions, check and return data from FAQ.docx.",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1152,
        864
      ],
      "id": "bbfa6b32-719c-483c-b767-ad4876553fb5",
      "name": "Answer Database1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "24449caf-94c8-4543-a79c-41518bf3aaef",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        640
      ],
      "id": "dd39d4e8-ea2b-4305-8944-e9b4f360f671",
      "name": "Webhook Different GPT Approach",
      "webhookId": "24449caf-94c8-4543-a79c-41518bf3aaef"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://amojo.kommo.com/v1/chats/{{ $('Return Amojo ID').item.json.amojo_id }}/{{ $('Webhook Different GPT Approach').item.json.body['message[add][0][chat_id]'] }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with_video",
              "value": "true"
            },
            {
              "name": "stand",
              "value": "v16"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Auth-Token",
              "value": "f1d7978a-e045-4e87-b1e7-abd4c3943b21"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=კეთილი. პერსონალური მენეჯერი შეძლებისდაგვარად მალე დაგიკავშრდებათ\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6272,
        224
      ],
      "id": "ad9427be-8f51-41c5-8745-def7c7059893",
      "name": "HTTP Request THATWORKED"
    },
    {
      "parameters": {
        "url": "https://{Your Domain}.kommo.com/api/v4/account",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with",
              "value": "amojo_id"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "Hello from n8n!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1760,
        640
      ],
      "id": "c18c0211-c14c-4ed5-b59f-cb262724c52e",
      "name": "Get Amojo_ID"
    },
    {
      "parameters": {
        "jsCode": "const pipelineIdVar = parseInt($vars.TETSN8Npipeline_ID);\nconst statusIdVar = parseInt($vars.TETSN8Nstatus_id);\n\n// Get the lead data and parse if needed\nconst input = $input.first().json;\nlet lead;\nif (typeof input.data === 'string') {\n  lead = JSON.parse(input.data);\n} else {\n  lead = input.data;\n}\n\nconst match = (lead.pipeline_id === pipelineIdVar) && (lead.status_id === statusIdVar);\n\nreturn [{ match }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        640
      ],
      "id": "e5c52983-141e-45ca-8c55-4a1434800b74",
      "name": "Check Pipeline and Stage ID",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const rawData = $input.first()?.json?.output;\nif (!rawData) {\n  return {\n    answer: 'No data found in input',\n    error: 'Missing input data'\n  };\n}\ntry {\n  // Handle array input\n  const data = Array.isArray(rawData) ? rawData[0]?.output : rawData;\n  \n  if (!data) {\n    return {\n      answer: 'No data found',\n      error: 'Empty data structure'\n    };\n  }\n  \n  let answer;\n  \n  // If data is already an object with an answer field, use it directly\n  if (typeof data === 'object' && data.answer) {\n    answer = data.answer;\n  } else if (typeof data === 'string') {\n    // Clean up markdown code blocks\n    let text = data.replace(/```json\\n?/gi, '').replace(/```\\n?/g, '').trim();\n    \n    // Try to find JSON object (either with \"answer\" field or any JSON object at the end)\n    const jsonWithAnswerMatch = text.match(/\\{\\s*\"answer\"\\s*:[\\s\\S]*?\\}\\s*$/m);\n    const anyJsonMatch = text.match(/\\{[\\s\\S]*?\\}\\s*$/);\n    \n    if (jsonWithAnswerMatch) {\n      // Parse JSON with answer field\n      const parsed = JSON.parse(jsonWithAnswerMatch[0]);\n      answer = parsed.answer;\n    } else if (anyJsonMatch) {\n      // Found JSON object but no answer field - extract text before the JSON\n      const jsonStartIndex = text.lastIndexOf('{');\n      answer = text.substring(0, jsonStartIndex).trim();\n    } else {\n      // No JSON object found - use the entire string as the answer\n      answer = text;\n    }\n  } else {\n    answer = JSON.stringify(data);\n  }\n  \n  // Remove asterisks from the answer\n  if (typeof answer === 'string') {\n    answer = answer.replace(/\\*/g, '');\n  }\n  \n  return { answer };\n  \n} catch (error) {\n  return {\n    answer: 'Failed to parse data',\n    error: error.message\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        640
      ],
      "id": "6e4b8277-a60c-4409-a431-2c31fcba501c",
      "name": "Return AI Respond",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()[0].json.data;\nconst parsed = JSON.parse(data);\n\n// Assign to workflow variable\n$vars.TETSN8NAmojoACC = parsed.amojo_id;\n\n// Return the value as well\nreturn {\n  amojo_id: parsed.amojo_id\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        640
      ],
      "id": "8bb6e6ff-49b2-4445-a2e4-03956246d8a0",
      "name": "Return Amojo ID",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b9e4a9c-7efb-4cc4-af79-f24708d77766",
              "leftValue": "={{ $('AI Agent1').item.json.output }}",
              "rightValue": "\"hasPhone\": true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "872e948c-1894-4794-9fce-333903a33310",
              "leftValue": "={{ $('AI Agent1').item.json.output }}",
              "rightValue": "\"humanChatRequested\": true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b491a934-1839-4ba4-b15a-563faa06bef6",
              "leftValue": "={{ $('AI Agent1').item.json.output }}",
              "rightValue": "\"humanChatRequested\":true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "0351f8c0-2660-498b-98b7-6fa9501a9310",
              "leftValue": "={{ $('AI Agent1').item.json.output }}",
              "rightValue": "\"hasPhone\":true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2208,
        640
      ],
      "id": "5a775fd9-64ff-4dd3-a7fe-950f908f5991",
      "name": "Phone Provided1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://amojo.kommo.com/v1/chats/{{ $('Return Amojo ID').item.json.amojo_id }}/{{ $('Webhook Different GPT Approach').item.json.body['message[add][0][chat_id]'] }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with_video",
              "value": "true"
            },
            {
              "name": "stand",
              "value": "v16"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Auth-Token",
              "value": "f1d7978a-e045-4e87-b1e7-abd4c3943b21"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Return AI Respond').item.json.answer }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5888,
        176
      ],
      "id": "9c8e8e51-9570-4de3-8047-13356fd8a12d",
      "name": "HTTP Request THATWORKED3"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://{Your Domain}.kommo.com/api/v4/leads/{{ $('Webhook Different GPT Approach').item.json.body['message[add][0][element_id]'] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/hal+json",
        "body": "={         \"pipeline_id\": {{ $vars.TETSN8Npipeline_ID }},         \"status_id\":  {{ $vars.TETSN8Nstatus_id2 }}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2432,
        544
      ],
      "id": "974e2be2-f115-410b-87c3-c4d750c2081b",
      "name": "Edit Pipeline Stage"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1S-9Rf45X_pKH_eRlryd9suGGSWhw0fJ8",
          "mode": "list",
          "cachedResultName": "N8N/აშენე",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1S-9Rf45X_pKH_eRlryd9suGGSWhw0fJ8"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7e7759e0-afe2-4ee7-a150-c77d630a7d5f",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "d93a4f8b-127c-4983-b054-5ff57cfccb32",
      "name": "Download file"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list"
        },
        "embeddingBatchSize": 500,
        "options": {
          "pineconeNamespace": "n8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ],
      "id": "344b391f-c2fa-434e-95dc-424db82412f6",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        224
      ],
      "id": "773937a9-9a6f-4f4c-bdf2-4f0c7a9fe6c7",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "splitPages": true,
          "metadata": {
            "metadataValues": [
              {
                "name": "FileName",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        224
      ],
      "id": "80f3a0af-9526-44c5-9030-13999b2067de",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        896,
        864
      ],
      "id": "ae280983-1a25-4cd9-94f3-dfd97a02f4bd",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1328,
        1072
      ],
      "id": "910ea9ca-f378-4436-b95a-02656de11d92",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -832,
        1552
      ],
      "id": "de174472-07f7-4f1c-8c4f-5d6145533b24",
      "name": "Embeddings Google Gemini"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        1280
      ],
      "id": "6e7de4f2-d52b-43ef-b54e-f8853990e473",
      "name": "Embeddings OpenAI1"
    },
    {
      "parameters": {
        "url": "=https://gvantsakhubuliazeptosge.kommo.com/api/v4/leads/{{ $json.body['message[add][0][element_id]'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "bearer token"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        640
      ],
      "id": "a25bad68-2251-4cc8-bfd3-ee515c1ce813",
      "name": "Get Stage1"
    },
    {
      "parameters": {
        "url": "https://gvantsakhubuliazeptosge.amocrm.com/api/v4/webhooks",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6752,
        384
      ],
      "id": "72040e26-fd96-40b7-af96-95fba2afc83f",
      "name": "Get Active WebHooks"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://amojo.kommo.com/v1/chats/{{ $('Return Amojo ID').item.json.amojo_id }}/{{ $('Webhook Different GPT Approach').item.json.body['message[add][0][chat_id]'] }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with_video",
              "value": "true"
            },
            {
              "name": "stand",
              "value": "v16"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Auth-Token",
              "value": "={{ $json.response.chats.session.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=კეთილი. პერსონალური მენეჯერი შეძლებისდაგვარად მალე დაგიკავშრდებათ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6544,
        576
      ],
      "id": "f3a5be53-6d20-48b0-9ce2-fbba1edf1d60",
      "name": "HTTP Request THATWORKED6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://{Your Domain}.kommo.com/ajax/v1/chats/session",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "request[chats][session][action]",
              "value": "create"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2432,
        736
      ],
      "id": "bf8ca02a-dda9-4ac2-97a9-267fc28da62d",
      "name": "Get Access Token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://{Your Domain}.kommo.com/ajax/v1/chats/session",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Requested-With",
              "value": "XMLHttpRequest"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "request[chats][session][action]",
              "value": "create"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2672,
        544
      ],
      "id": "a7149e87-b00a-41f6-900a-c346cae04f70",
      "name": "Get Access Token1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://amojo.kommo.com/v1/chats/{{ $('Return Amojo ID').item.json.amojo_id }}/{{ $('Webhook Different GPT Approach').item.json.body['message[add][0][chat_id]'] }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with_video",
              "value": "true"
            },
            {
              "name": "stand",
              "value": "v16"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Auth-Token",
              "value": "={{ $json.response.chats.session.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=კეთილი. პერსონალური მენეჯერი შეძლებისდაგვარად მალე დაგიკავშრდებათ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2896,
        544
      ],
      "id": "62579f9d-ba68-4649-9795-02eeb22466ec",
      "name": "Send Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://amojo.kommo.com/v1/chats/{{ $('Return Amojo ID').item.json.amojo_id }}/{{ $('Webhook Different GPT Approach').item.json.body['message[add][0][chat_id]'] }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with_video",
              "value": "true"
            },
            {
              "name": "stand",
              "value": "v16"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Auth-Token",
              "value": "={{ $json.response.chats.session.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Return AI Respond').item.json.answer }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2768,
        736
      ],
      "id": "3148d30f-5c94-4e78-87b8-b39a8444a8f2",
      "name": "Send Message1"
    }
  ],
  "pinData": {
    "Webhook Different GPT Approach": [
      {
        "json": {
          "headers": {
            "host": "ggtu.app.n8n.cloud",
            "user-agent": "amoCRM-Webhooks/3.0",
            "content-length": "1376",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "204.74.253.164",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "998a80d6e1536c22-DFW",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/x-www-form-urlencoded",
            "x-amocrm-requestid": "eec98b13-4931-402f-b07d-44d4cda088cc",
            "x-forwarded-for": "204.74.253.164, 172.68.27.170",
            "x-forwarded-host": "ggtu.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-18-7959cfc789-zp8xj",
            "x-is-trusted": "yes",
            "x-real-ip": "204.74.253.164"
          },
          "params": {},
          "query": {},
          "body": {
            "account[subdomain]": "gvantsakhubuliazeptosge",
            "account[id]": "35435079",
            "account[_links][self]": "https://gvantsakhubuliazeptosge.amocrm.com",
            "message[add][0][id]": "a98734f2-9d74-4930-bc6a-f1d16885a9b8",
            "message[add][0][chat_id]": "75fcb2b7-af34-41fe-bc59-b2976648a5b8",
            "message[add][0][talk_id]": "125",
            "message[add][0][contact_id]": "6796690",
            "message[add][0][text]": "რა ინფრასტრუქტურა აქვს ამ პროექტს?",
            "message[add][0][created_at]": "1762158558",
            "message[add][0][element_type]": "2",
            "message[add][0][entity_type]": "lead",
            "message[add][0][element_id]": "7729764",
            "message[add][0][entity_id]": "7729764",
            "message[add][0][type]": "incoming",
            "message[add][0][author][id]": "c78ef2fd-ff37-460f-9d81-31a1297d1e3a",
            "message[add][0][author][type]": "external",
            "message[add][0][author][name]": "Keti Kharadze",
            "message[add][0][author][avatar_url]": "https://amojo.kommo.com/attachments/profiles/c78ef2fd-ff37-460f-9d81-31a1297d1e3a/eUJyQgcxBd_128x128.jpg",
            "message[add][0][origin]": "facebook"
          },
          "webhookUrl": "https://ggtu.app.n8n.cloud/webhook/24449caf-94c8-4543-a79c-41518bf3aaef",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Is in first Stage1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Return AI Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer Database1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer Database1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Different GPT Approach": {
      "main": [
        [
          {
            "node": "Get Stage1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Amojo_ID": {
      "main": [
        [
          {
            "node": "Return Amojo ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Pipeline and Stage ID": {
      "main": [
        [
          {
            "node": "Is in first Stage1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return AI Respond": {
      "main": [
        [
          {
            "node": "Get Amojo_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Amojo ID": {
      "main": [
        [
          {
            "node": "Phone Provided1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phone Provided1": {
      "main": [
        [
          {
            "node": "Edit Pipeline Stage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Pipeline Stage": {
      "main": [
        [
          {
            "node": "Get Access Token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer Database1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Get Stage1": {
      "main": [
        [
          {
            "node": "Check Pipeline and Stage ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Access Token": {
      "main": [
        [
          {
            "node": "Send Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Access Token1": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ea73a9ea-5380-4509-ad32-3ccad242660c",
  "meta": {
    "instanceId": "e85d92d1beff42ca90860032c2133be29712fae7ab2cea2b0d88043972cd1e33"
  },
  "id": "1O7Q6Uovly0Iw2eV",
  "tags": []
}